<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>百度新闻</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/indexstyle.css">
</head>

<body>
    <header class="header">
        <div class="tool-left">
            <a href="" class="to-bd"></a>
            <div class="user"></div>
        </div>
        <div class="tool-right">
            <div class="search"></div>
            <div class="subscibe"></div>
        </div>
    </header>
    <nav class="nav">
        <div class="divider"></div>
        <ul class="nav-wrap">
            <li id="" class="selected">
                <span class="underline">推荐<span><span class="erect">|</span>
            </li>
            <li id="">
                <span class="underline">百家</span><span class="erect">|</span>
            </li>
            <li id="">
                <span class="underline">国际</span><span class="erect">|</span>
            </li>
            <li>
                <span class="underline">国内</span><span class="erect">|</span>
            </li>
            <li>
                <span class="underline">科技</span><span class="erect">|</span>
            </li>
            <li>
                <span class="underline">互联网</span><span class="erect">|</span>
            </li>
            <li>
                <span class="underline">体育</span><span class="erect">|</span>
            </li>
            <li>
                <span class="underline">游戏</span><span class="erect">|</span>
            </li>
            <li>
                <span class="underline">娱乐</span><span class="erect">|</span>
            </li>
            <li>
                <span class="underline">社会</span><span class="erect">|</span>
            </li>
        </ul>
    </nav>
    <div class="content">
        <div class="row" id="">
            <div class="image">
                <img src="http://d.hiphotos.baidu.com/news/crop%3D0%2C14%2C589%2C377/sign=d9e0075e8cd4b31ce473cefbbae60b4e/3ac79f3df8dcd10029ace43c758b4710b9122ffe.jpg" alt="" width="95" height="68" />
            </div>
            <div class="title">
                <p>国家网信办：所有网站都应对传播内容承担法律责任</p>
            </div>
            <div class="infor">
                <span class="date">1分钟前</span>
                <span class="src">热点</span>
            </div>
        </div>
    </div>
    <div class="loading"><i class="fa fa-spinner fa-spin fa-4x"></i></div>
    <button class="loadmore" id="loadmore"><i class="fa fa-spinner fa-spin"></i><span class="loadtext">点击加载更多</span></button>
    <script type="text/javascript" src="../public/javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/jquery.mobile.custom.min.js"></script>
    <!--<script type="text/javascript" src="../public/javascripts/index.js"></script>-->
</body>

</html>
